<!DOCTYPE html>
<html>
    <head>
        <title>Main page</title>
        <!-- <link rel="stylesheet" href="../static/css/styles.css"> -->
    </head>

    <body>
        <h1>Othello game</h1>

        <h2 div id = "rule">
            <a href="https://www.worldothello.org/about/about-othello/othello-rules/official-rules/english" target="_blank">Here</a> is the rule for the othello game.
        </h2>

        <h2 div id = "buttons">
            <form method='POST'>
                <button type="submit" name="button" value="single">Single mode</button>
                <button type="submit" name="button" value="pvp">PvP mode</button>
            </form>
        </h2>

    </body>
</html>
