<!DOCTYPE html>
<html>
    <head>
        <title>Main page</title>
        <link rel="stylesheet" href="../static/css/styles.css">
    </head>

    <body>
        <h1>Othello game</h1>

        <h2 div id = "rule">
            <a href="https://www.worldothello.org/about/about-othello/othello-rules/official-rules/english" target="_blank">Here</a> is the rule for the othello game.
        </h2>

        <h2 div id = "buttons">
            <form method='POST'>
                <!-- single player mode -->
                <button type="submit" name="button" value="single" class="styled-button">Single mode</button>

                <!-- PvP mode -->
                <div class="pvp-container">
                    <button type="button" class="styled-button pvp-button">PvP mode</button>
                    <div class="pvp-options">
                        <button type="submit" name="button" value="create" class="option-button">Create Room</button>
                        <label class="option-button join-room">
                            Join Room
                            <input type="text" name="game_id" placeholder="Enter Game ID">
                            <button type="submit" name="button" value="join">Join</button>
                        </label>
                    </div>
                </div>
            </form>
        </h2>

    </body>
</html>
